<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Kruskal | Home</title>
  </head>
  <body>
    <h1>Shortest Path of Two Cities in East Java</h1>
    <img src="/map_1.png" alt="East Java" />
    <form action="/submit" method="POST" class="location-form">
      <div class="form-container">
        <!-- location from -->
        <div class="location-from">
          <p><b>Choose Start City</b></p>
          <div class="inner-form-container">
            <div>
              <input
                type="radio"
                name="location_from"
                id="surabaya_from"
                value="surabaya"
              />
              <label for="surabaya_from">Surabaya</label><br />
              <input
                type="radio"
                name="location_from"
                id="madiun_from"
                value="madiun"
              />
              <label for="madiun_from">Madiun</label><br />
              <input
                type="radio"
                name="location_from"
                id="kediri_from"
                value="kediri"
              />
              <label for="kediri_from">Kediri</label><br />
              <input
                type="radio"
                name="location_from"
                id="blitar_from"
                value="blitar"
              />
              <label for="blitar_from">Blitar</label><br />
              <input
                type="radio"
                name="location_from"
                id="malang_from"
                value="malang"
              />
              <label for="malang_from">Malang</label>
            </div>
            <div>
              <input
                type="radio"
                name="location_from"
                id="batu_from"
                value="batu"
              />
              <label for="batu_from">Batu</label><br />
              <input
                type="radio"
                name="location_from"
                id="pasuruan_from"
                value="pasuruan"
              />
              <label for="pasuruan_from">Pasuruan</label><br />
              <input
                type="radio"
                name="location_from"
                id="probolinggo_from"
                value="probolinggo"
              />
              <label for="probolinggo_from">Probolinggo</label>
            </div>
          </div>
        </div>
        <!-- location destination -->
        <div class="location-destination">
          <p><b>Choose Destination City</b></p>
          <div class="inner-form-container">
            <div>
              <input
                type="radio"
                name="location_destination"
                id="surabaya_destination"
                value="surabaya"
              />
              <label for="surabaya_destination">Surabaya</label><br />
              <input
                type="radio"
                name="location_destination"
                id="madiun_destination"
                value="madiun"
              />
              <label for="madiun_destination">Madiun</label><br />
              <input
                type="radio"
                name="location_destination"
                id="kediri_destination"
                value="kediri"
              />
              <label for="kediri_destination">Kediri</label><br />
              <input
                type="radio"
                name="location_destination"
                id="blitar_destination"
                value="blitar"
              />
              <label for="blitar_destination">Blitar</label><br />
              <input
                type="radio"
                name="location_destination"
                id="malang_destination"
                value="malang"
              />
              <label for="malang_destination">Malang</label>
            </div>
            <div>
              <input
                type="radio"
                name="location_destination"
                id="batu_destination"
                value="batu"
              />
              <label for="batu_destination">Batu</label><br />
              <input
                type="radio"
                name="location_destination"
                id="pasuruan_destination"
                value="pasuruan"
              />
              <label for="pasuruan_destination">Pasuruan</label><br />
              <input
                type="radio"
                name="location_destination"
                id="probolinggo_destination"
                value="probolinggo"
              />
              <label for="probolinggo_destination">Probolinggo</label>
            </div>
          </div>
        </div>
      </div>
      <button class="submit-btn">Submit</button>
    </form>
    <footer>&copy; Yehezkiel Wiradhika 2023</footer>
  </body>
</html>
